In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('/content/adult.data.csv')

In [10]:
df.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [37]:
df.shape[0]

32561

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [20]:
race = df['race'].unique()

In [21]:
race

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [24]:
race_count = len(race)
race_count

5

What is the average age of men?

In [27]:
avg_age = df['age'].mean()
print(int(avg_age))

38

What is the percentage of people who have a Bachelor's degree?

In [29]:
bachelors = df[df['education'] == 'Bachelors']

In [36]:
len(bachelors)

5355

In [39]:
percentage = len(bachelors)/df.shape[0] * 100
percentage

16.44605509658794

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [60]:
advanced = (df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')])

In [67]:
advanced_percentage = len(advanced)/df.shape[0] * 100

In [68]:
advanced_percentage

23.006050182733944

In [61]:
advanced_rich = round(len(advanced[advanced['salary'] == '>50K'])/len(advanced)*100, 1)
advanced_rich

46.5

What percentage of people without advanced education make more than 50K?

In [64]:
without_advanced = (df[~(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')])

In [66]:
without_advanced_percentage = len(without_advanced)/df.shape[0] * 100
without_advanced_percentage

83.55394490341206

What is the minimum number of hours a person works per week?

In [70]:
min_hours = df['hours-per-week'].min()

In [72]:
min_hours

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [73]:
num_min_workers = len(df[df["hours-per-week"] == min_hours])
rich_percentage = round(len(df[(df["hours-per-week"] == min_hours)
                                   & (df["salary"] == ">50K")]) / num_min_workers * 100, 1)

In [74]:
rich_percentage

10.0

What country has the highest percentage of people that earn >50K and what is that percentage?

In [103]:
highest_earning_country = (df.loc[df["salary"] == ">50K",
                                      "native-country"].value_counts() / df["native-country"].value_counts()).fillna(0).sort_values(ascending=False).index[0]
highest_earning_country_percentage = round(len(df[(df["native-country"] == highest_earning_country) & (
        df["salary"] == ">50K")]) / len(df[df["native-country"] == highest_earning_country]) * 100, 1)

In [105]:
print(highest_earning_country)
print(highest_earning_country_percentage)

Iran
41.9

Identify the most popular occupation for those who earn >50K in India.

In [96]:
most_pop = df[(df["salary"] == ">50K") & (df["native-country"] == "India")]["occupation"].value_counts().index[0]
most_pop

'Prof-specialty'